<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Posts</title>
    <style>
        .float-right {
            float: right !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Blog Post</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>
    <div class="container">

        <br>
        <a class="btn btn-success float-right" href="/posts/new">+ Post</a>
        <br>
        <br>
        {% if posts %}
            {% for post in posts %}
                <hr>
                <h2 style="color: blueviolet;">{{ post.title }}</h2>
                {% if post.author %}
                    <small>
                        By: <b class="pe-1">{{ post.author }}</b>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg> : {{ post.date_posted }}
                    </small>
                {% else %}
                    <small>
                        By: <b class="pe-1">Unknown  </b>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>  : {{ post.date_posted }}
                    </small>
                {% endif %}  
                <br>
                <br>
                <ul style="list-style-type:none">
                    <li>
                        <p style="white-space: pre-wrap; background-color: #f9f3f3; font-size: 18px; border-left: black solid; border-radius: 3px; padding-left: 10px;">{{ post.content }}</p>
                    </li>
                </ul>
                <br>
                <a class="btn btn-primary me-3" href="/posts/edit/post{{post.id}}">Edit</a>
                <a class="btn btn-danger" href="/posts/delete/post{{post.id}}">Delete</a>
            {% endfor %}
        {% else %}
            <h4>No Posts :(</h4>
        {% endif %}
    </div>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
